target/debug
target/release/build
target/release/deps
target/release/examples
target/release/.fingerprint
target/release/incremental
target/x86_64-unknown-linux-musl/release/build
target/x86_64-unknown-linux-musl/release/deps
target/x86_64-unknown-linux-musl/release/examples
target/x86_64-unknown-linux-musl/release/.fingerprint
target/x86_64-unknown-linux-musl/release/incremental
target/x86_64-pc-windows-gnu/release/build
target/x86_64-pc-windows-gnu/release/deps
target/x86_64-pc-windows-gnu/release/examples
target/x86_64-pc-windows-gnu/release/.fingerprint
target/x86_64-pc-windows-gnu/release/incremental
built
