@use './scaling';
/*
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
*/

.comments {
  max-height: 1800px;
}

.single-comment {
  height: 'auto';
  overflow: auto;
  overflow-y: scroll;
}

.trash-comment {
  margin-left: 10px;
}

.attachment-card {
  width: 80% !important;
}

.comment-box {
  width: 80% !important;
  height: 150px !important;
}

.comment-entry {
  width: 80%;
  height: 150px;
}
