@use './scaling';
/*
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
*/

.raw-log-line {
  margin: 0 0 0 0;
  white-space: pre-wrap;
}

.log-line-index {
  color: var(--thorium-highlight-panel-bg);
  user-select: none;
}

.log-box {
  max-height: 90vh;
  overflow: auto;
  background-color: var(--thorium-panel-bg);
  color: var(--thorium-text);
}

.log-nav-button {
  background-color: var(--thorium-body-bg);
  color: var(--thorium-panel-bg);
}

.scrollable-card {
  overflow-y: scroll;
}
