@use './scaling';
/*
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
*/

.tooltip-wide > .tooltip-inner {
  max-width: 800px !important;
  max-height: 400px !important;
  text-align: start;
  overflow-y: scroll;
  border-color: var(--thorium-highlight-panel-border); // set border color
  border-style: solid; // make border visible, solid line
  border-width: 1px; // narrow width of border
}

.tooltip {
  --bs-tooltip-bg: var(--thorium-secondary-panel-bg);
  --bs-tooltip-color: var(--thorium-text);
  border-radius: 8px; // rounded corners
}
.tooltip.show {
  --bs-tooltip-bg: var(--thorium-secondary-panel-bg);
  opacity: 0.97; // slight transparency
}
