@use './scaling';
/*
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
*/

.accordion-button::-webkit-scrollbar {
  display: none !important;
}

.description-field {
  min-height: 200px;
}

.pipeline-header-col {
  min-width: 130px;
}

.pipeline-detail-col {
  flex: 8;
}

.pipeline-field {
  width: 300px;
}

.sla {
  width: 70% !important;
}

.trigger-indent {
  max-width: 15px;
  flex: 0.5;
}

.trigger-field {
  min-width: 135px;
  flex: 1;
}

.trigger-value {
  flex: 20;
}
