@use './scaling';
/*
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
*/

.hidden {
  color: var(--thorium-secondary-text);
}

// 1400px
//@media (max-width: scaling.$xxl) { ... }

// 1200x
//@media (max-width: scaling.$xl) { ... }

// 992px
//@media (max-width: scaling.$lg) {...}

// 768px
@media (max-width: scaling.$md) {
  .md-width {
    min-width: 90px;
  }
}

// 576px
//@media (max-width: scaling.$sm) { ... }
