@use './scaling';
/*
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
*/

.related-card {
  --bs-card-border-color: var(--thorium-panel-color);
  width: 95%;
  height: 90vh;
  position: relative;
}

// for some reason this isn't matching the inline style
.related-graph {
  max-width: 600px;
  z-index: 200;
  margin-left: auto;
  margin-right: 40px;
  overflow: scroll;
  position: absolute;
  --bs-card-border-color: none !important;
}

.related-node-info {
  margin-right: 2em;
  margin-top: 1em;
  overflow: scroll;
  min-height: 200px;
  max-height: 50vh;
  background-color: transparent !important;
  margin-left: auto;
  position: relative;
  max-width: 40%;
}
