@use './scaling';
/*
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
*/

.result-sha {
  margin-top: 0.2em !important;
}

.result-group {
  margin-top: 0.1em !important;
}

.search-main-col {
  flex: 1 !important;
}

.limit-field {
  max-width: 85px !important;
}

.hide-small-element {
  display: none;
}

.hide-element-sha {
  display: block;
}

.hide-small-element-sha {
  display: none;
}

.groups-col {
  flex-wrap: wrap;
}

.search-bar {
  max-width: 800px;
  width: 100%;
}

// 1400px
//@media (max-width: scaling.$xxl) { ... }

// 1200x
@media (max-width: scaling.$xl) {
  .hide-element {
    display: none !important;
  }

  .hide-small-element {
    display: block;
  }
}

// 992px
//@media (max-width: scaling.$lg) { ... }

@media (max-width: scaling.$md) {
  .hide-element-sha {
    display: none;
  }

  .hide-small-element-sha {
    display: block;
  }

  .sha256-col {
    min-width: 0;
  }
}

// 768px
//@media (max-width: scaling.$md) { ... }

// 576px
//@media (max-width: scaling.$sm) { ... }
