@use './scaling';
/*
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
*/

.username-col {
  flex: 2;
  min-width: 120px;
}

.user-role-col {
  flex: 2;
  min-width: 70px;
}

.user-group-col {
  flex: 7;
  min-width: 100px;
}
