@use '../scaling';

.accordion-text {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.accordion-item-name,
.accordion-item-subtitle,
.accordion-item-ownership {
  flex: 0 0 50%;
  overflow-wrap: break-word;
  word-break: break-word;
}

@media (max-width: scaling.$md) {
  .accordion-item-name,
  .accordion-item-subtitle,
  .accordion-item-ownership {
    flex: 0 0 100%;
  }
}

.accordion-item-status {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion-group-role {
  flex: 0 0 120px;
  display: flex;
  justify-content: center;
}
